<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="./public/connkat-resume.pdf" download="connkat-resume">Download Resume</a>
      </li>
      <li class="active">
        <a href="mailto:hi.connkat@gmail.com">Get in Touch</a>
        </li>
    </ul>
  </div>
</nav>
